## **DATA CLEANING & PROCESSING**

## Objective

The goal of this phase is to transform the raw Airline Passenger Satisfaction dataset into a clean and structured format suitable for Exploratory Data Analysis (EDA).

The cleaning process focuses on:
Standardizing column formats
Handling missing values
Removing duplicates
Managing outliers
Creating useful derived features

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\HP\Downloads\test.csv\test.csv")
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [26]:

df.rename(columns={'unnamed:_0': 'index'}, inplace=True)
df.head()

,id,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,...,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction,is_delayed,age_group
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,2,5,5,30.0,32.5,satisfied,1,Middle Age
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,3,4,5,0.0,0.0,satisfied,0,Adult
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,1,3,2,2,2,0.0,0.0,neutral or dissatisfied,0,Young
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,3,1,4,0.0,6.0,satisfied,0,Middle Age
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,4,2,4,0.0,20.0,satisfied,0,Middle Age

## **Standardizing Column Names**

In [34]:

for cols in df.select_dtypes(include=["object"]).columns:
    df[cols] = df[cols].str.capitalize().str.strip()
df.head()

,Id,Gender,Customer_type,Age,Type_of_travel,Class,Flight_distance,Inflight_wifi_service,Departure/arrival_time_convenient,Ease_of_online_booking,...,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_delay_in_minutes,Arrival_delay_in_minutes,Satisfaction,Is_delayed,Age_group
0,19556,Female,Loyal customer,52,Business travel,Eco,160,5,4,3,...,5,5,2,5,5,30.0,32.5,Satisfied,1,Middle Age
1,90035,Female,Loyal customer,36,Business travel,Business,2863,1,1,3,...,4,4,3,4,5,0.0,0.0,Satisfied,0,Adult
2,12360,Male,Disloyal customer,20,Business travel,Eco,192,2,0,2,...,1,3,2,2,2,0.0,0.0,Neutral or dissatisfied,0,Young
3,77959,Male,Loyal customer,44,Business travel,Business,3377,0,0,0,...,1,1,3,1,4,0.0,6.0,Satisfied,0,Middle Age
4,36875,Female,Loyal customer,49,Business travel,Eco,1182,2,3,4,...,2,2,4,2,4,0.0,20.0,Satisfied,0,Middle Age

## **Removing Duplicate Records**

In [4]:
df.duplicated().sum()

np.int64(0)

## **Handling Missing Values**

In [37]:
df.isnull().sum()

Id                                   0
Gender                               0
Customer_type                        0
Age                                  0
Type_of_travel                       0
Class                                0
Flight_distance                      0
Inflight_wifi_service                0
Departure/arrival_time_convenient    0
Ease_of_online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On-board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_delay_in_minutes           0
Arrival_delay_in_minutes             0
Satisfaction                         0
Is_delayed                           0
Age_group                            0
dtype: int64

In [44]:
df['Arrival_delay_in_minutes'] = df['Arrival_delay_in_minutes'].fillna(
    df['Arrival_delay_in_minutes'].median()
)

## **Data Type Validation**

In [45]:
df.dtypes

Id                                      int64
Gender                                 object
Customer_type                          object
Age                                     int64
Type_of_travel                         object
Class                                  object
Flight_distance                         int64
Inflight_wifi_service                   int64
Departure/arrival_time_convenient       int64
Ease_of_online_booking                  int64
Gate_location                           int64
Food_and_drink                          int64
Online_boarding                         int64
Seat_comfort                            int64
Inflight_entertainment                  int64
On-board_service                        int64
Leg_room_service                        int64
Baggage_handling                        int64
Checkin_service                         int64
Inflight_service                        int64
Cleanliness                             int64
Departure_delay_in_minutes            float64
Arrival_delay_in_minutes              float64
Satisfaction                           object
Is_delayed                              int64
Age_group                            category
dtype: object

## **Outlier Detection & Handling**

In [46]:
def outlier_handle(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
    df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])
    
    return df

In [48]:
for col in ['Departure_delay_in_minutes', 'Arrival_delay_in_minutes']:
    df = outlier_handle(df, col)

## **Reason for Applying Only on Delay Columns:**

Extreme delay values distort average performance

Outliers may represent rare operational disruptions

Capping improves distribution stability

Not applied to:

Age (naturally distributed)

Service ratings (fixed 0–5 scale)

In [49]:
# final data check
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer_type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type_of_travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight_distance                    25976 non-null  int64
 7   Inflight_wifi_service              25976 non-null  int64
 8   Departure/arrival_time_convenient  25976 non-null  int64
 9   Ease_of_online_booking             25976 non-null  int64
 10  Gate_location                      25976 non-null  int64
 11  Food_and_drink                     25976 non-null  int64
 12  Online_boarding                    25976 non-null  int64
 13  Seat_comfort                       25976 non-null  int64
 14  Inflight_entertainment             25976 non-null  int64
 15  On-board_service                   25976 non-null  int64
 16  Leg_room_service                   25976 non-null  int64
 17  Baggage_handling                   25976 non-null  int64
 18  Checkin_service                    25976 non-null  int64
 19  Inflight_service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure_delay_in_minutes         25976 non-null  float64
 22  Arrival_delay_in_minutes           25976 non-null  float64
 23  Satisfaction                       25976 non-null  object
 24  Is_delayed                         25976 non-null  int64
 25  Age_group                          25976 non-null  category
dtypes: category(1), float64(2), int64(18), object(5)
memory usage: 5.0+ MB

,Id,Age,Flight_distance,Inflight_wifi_service,Departure/arrival_time_convenient,Ease_of_online_booking,Gate_location,Food_and_drink,Online_boarding,Seat_comfort,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_delay_in_minutes,Arrival_delay_in_minutes,Is_delayed
count,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000
mean,65005.657992,39.620958,1193.788459,2.724746,3.046812,2.756775,2.977094,3.215353,3.261665,3.449222,3.357753,3.385664,3.350169,3.633238,3.314175,3.649253,3.286226,7.318794,7.908954,0.218856
std,37611.526647,15.135685,998.683999,1.335384,1.533371,1.412951,1.282133,1.331506,1.355536,1.320090,1.338299,1.282088,1.318862,1.176525,1.269332,1.180681,1.319330,11.154036,11.993696,0.413479
min,17.000000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32170.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,65319.500000,40.000000,849.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,97584.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,0.000000
max,129877.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,30.000000,32.500000,1.000000

In [35]:
df.isnull().sum()

Id                                   0
Gender                               0
Customer_type                        0
Age                                  0
Type_of_travel                       0
Class                                0
Flight_distance                      0
Inflight_wifi_service                0
Departure/arrival_time_convenient    0
Ease_of_online_booking               0
Gate_location                        0
Food_and_drink                       0
Online_boarding                      0
Seat_comfort                         0
Inflight_entertainment               0
On-board_service                     0
Leg_room_service                     0
Baggage_handling                     0
Checkin_service                      0
Inflight_service                     0
Cleanliness                          0
Departure_delay_in_minutes           0
Arrival_delay_in_minutes             0
Satisfaction                         0
Is_delayed                           0
Age_group                            0
dtype: int64

## **Save Cleaned Dataset**

In [54]:
df.to_csv("cleaned_day2.csv", index=False)